POSTGRES_DB=analyzer
POSTGRES_USER=analyzer
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
REDIS_PORT=6379
BACKEND_PORT=8080
VACANCY_SYNC_ENABLED=true
VACANCY_SYNC_INTERVAL=30m
VACANCY_SYNC_QUERY=Java Backend Developer
VACANCY_SYNC_PAGES_PER_CYCLE=4
VACANCY_SYNC_PAGE_SIZE=50
POLZA_API_KEY=
